<html>

<head>
</head>

<body style="font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif; margin: 0; background: #eee; padding: 10px 0 50px;">
  <div style="max-width: 600px; margin: 10px auto; background: white;">
    <div style="background: {{ config.colors.secondary.main }}; height: 50px;"></div>
    <div style="padding: 30px">
      <h1 style="font-weight: 200; margin: 0 0 20px; font-size: 28px;">
        An update from {{ config.store_name}}:
      </h1>
      <p style="font-size: 14px;">We have received your order from our manufacturer, and will be finishing it shortly.</p>
      <p style="font-size: 14px; margin-bottom: 30px;">We will contact you again with a tracking number as soon as it's been sent out!</p>
      <table style="width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding-bottom: 10px; font-size: 12px; margin: 40px 0;">
        <thead>
          <tr style="font-size: 12px;">
            <th style="text-align: left; text-transform: uppercase; padding: 20px 0 10px;">Item</th>
            <th style="text-align: right; text-transform: uppercase; padding: 20px 0 10px;">Quantity</th>
            <th style="text-align: right; text-transform: uppercase; padding: 20px 0 10px;">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each items }}
          <tr style="font-size: 14px;">
            <td style="padding: 0 0 10px;">{{ this.description }}</td>
            <td style="padding: 0 0 10px; color: #555; text-align: right;">{{ this.quantity }}</td>
            <td style="padding: 0 0 10px; color: #555; text-align: right;">{{ this.displayAmount }}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>